:root{
    --primary: #1a1a1a;
    --secondary: #D0D0D0;
}

.containerContacto1{
    margin-top: 15vh;
}
.flexible{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.containerContacto{
    display:flex;
    align-items:center;
    justify-content:center;
}

.bloque{
    width:50%;
    min-width: 500px;
    height:75vh;
    background-color: var(--secondary);
    color: var(--primary);
}

.tituloBloque1{
    color: var(--primary);
    margin-bottom:64px;
    font: 32px 'montserrat';
}

.redesBloque1{
    align-items:flex-start;
}

.redes{
    display:flex;
    align-items:center;
    justify-content:center;
    color: var(--primary);
    font: 20px 'montserrat';
    font-weight: 500;
}

.redes img{
    width:36px;
    margin:12px;
}


.bloque2{
    background-color: var(--primary);
}
.bloque2 img{
    width:80%;
}



.bloque3{
    background-color: var(--primary);
}
.tituloBloque3{
    color: var(--secondary);
}
.redes3{
    color:var(--secondary);
}
.redesBloque3{
    align-items:center;
}

.mapa{
    width:80%;
    height:80%;
}










/* Para móvil */
@media (max-width: 1080px) {
    /* Contenedor */
    .containerContacto{
        flex-wrap: wrap;
    }
    .bloque{
        width:100%;
        height:70vh;
        min-width: 0px;
    }
    .tituloBloque1{
        font-size:20px;
        margin-bottom:25px;
    }
    .redes{
        margin: 16px;
        font-size:16px;
    }
        
    /* Bloque1 */
    /* Bloque2 */
    .bloque2{
        border-bottom: 2px solid var(--secondary);
        height:50vh;
    }
    .bloque2 img{
        width:120%;
    }
    /* Bloque3 */
    .bloque3{
        height:50vh;
    }
    /* Bloque4 */

}
/* Escritorio */
@media (min-width: 1000px) {
    
}