:root{
    --primary: #1a1a1a;
    --secondary: #D0D0D0;
}
*{
    margin:0;
    box-sizing: border-box;
    color: var(--secondary);
}
a{
    text-decoration:none;
}
body{
    display:flex;
    justify-content: center;
    background-color: #363636;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100vw;
    max-width: 1300px;
}


/* Barra de navegación y sus elementos */
.barraMenu{
    width: 100%;
    height:15vh;
    background-color: var(--primary);
    position: sticky;
    top: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 8px #757575;
    animation-duration:1s;
    z-index: 1;
}
.logo{
    height:100%;
    margin-left: 1.75rem;
}
.logo > img{
    height:inherit;
}
.listaLinks{
    width:75%;
    max-width: 750px;
    margin-right: 3rem;
    display:flex;
    justify-content: space-between;
}
.links, .contacto{
    font: 1.25rem 'montserrat';
    margin: 12px;
    padding:6px;
}
.contacto,.links:active{
    border-radius:20px;
    background-color: var(--secondary);
    color: var(--primary);
}
.menuMobil{
    display:none;
}
.iconoMenu {
    display:none;
    width:36px;
    height:36px;
    margin-right:1.75rem;
    padding-top:0.25rem;
    color: white;
    cursor:pointer;
}
@media (max-width: 620px) {
    .iconoMenu{
        display:block;
    }
    .menuMobil{
        display:block;
    }
    .listaLinks{
        display:none;
        width:100%;
        position:absolute;
        top:15vh;
        flex-direction:column;
        align-items:center;
        background-color: var(--primary);
        height:60vh;
        padding:1.75rem 0 1.75rem 0;
    }
    .logo{
        height:80%;
        position:relative;
        top:10%;
    }
    .latido{
        animation: entradaMenu 1s;
    }
    .latidoInverso{
        animation: entradaMenu 0.3s;
        animation-direction: reverse;
    }
    @keyframes entradaMenu{
        from{
            left:-100%;
        }
        to{
            left:0;
        }
    }
    @keyframes ajuste{
        from{
            left:-100%;
        }
        to{
            top:15vh;
            left:0;
        }
    }
}
@keyframes small{
    from{
        height: 15vh;
    }
    to{
        height:12vh;
    }
}
@keyframes normal{
    from{
        height: 12vh;
    }
    to{
        height:15vh;
    }
}


/* Portada y sus elementos */
.portada{
    width:100%;
    height:85vh;
    overflow: hidden;
}
.slider{
    height:100%;
    display: flex;
    align-items: center;
    justify-content:center;
}
.btnSlider{
    display: none;
}
.imagenPortada{
    width:100%;
}
@media (max-width: 620px) {
    .portada{
        height:60vh;
    }
    .imagenPortada{
        height:100%;
        width:auto;
    }
}


/* Sección eslogan y sus elementos */
.eslogan{
    background-color: var(--secondary);
    height: 25vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.esloganText{
    text-align: center;
    color: var(--primary);
    font: 1.75rem "Montserrat";
    
}


/* Seccion de links y sus elementos */
.linksGrid{
    background-color: var(--primary);
    height: auto;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding:4rem 0 0 0;
}
.articulos{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 1rem;
    width: 100%;
    max-width: 600px;
}
.articulos> img{
    width: 75%;
}
.articulos > a{
    width: 75%;
}
.articulos > a > h6{
    padding:8px 8px 0 0;
    font: 1.25rem 'montserrat';
    font-weight: 500;
}
.articulos > a > p{
    padding:8px 8px 0 0;
    font: 0.8rem 'lato';
}


/* Sección de caracteristicas */
.caracts{
    width:100%;
    height:35vh;
    display: flex;
    align-items: center;
    background-color: var(--primary);
}
.caracteristicas{
    height:100%;
    width:25%;
    background-color: var(--secondary);
    border:1px solid var(--primary);
}
.caracteristicasTexto{
    font: 1rem 'raleway';
    color: var(--primary);
}


/* Pie de pagina y sus elementos */
.pieDePag{
    height: auto;
}
.seccion1, .seccion2{
    background-color: var(--secondary);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.textoM{
    width:60%;
    padding:3rem;
    color: var(--primary);
    text-align: center;
    font: 1.125rem 'Raleway';
    font-weight: 500;
    line-height:1.6;
}
.footerLinks{
    padding:8px;
}
.icon{
    width:2rem;
    margin:8px;
}
.seccion2{
    background-color: var(--primary);
}
.copyright{
    width:40%;
    margin:1.25rem;
    text-align: center;
    font: 0.8rem 'raleway';
    font-weight:500;
    line-height: 1.6;
}
.copyright > a{
    text-decoration: underline;
}
.spanAtribuciones, .y{
    text-decoration:underline;
    cursor: pointer;
}
.atribucionesDiv, .z{
    background-color: var(--secondary);
    color: var(--primary);
    
}
.atribucionesDiv{
    display: none;
}
/* Para móvil */
@media (max-width: 1000px) {
    /* Barra de navegación y sus elementos */
    /* Portada y sus elementos */
    /* Caracteristicas */
    .caracts{
    flex-direction: column;
    }
    .caracteristicas{
        width: 100%;
    }

    /* Seccion de links y sus elementos */
    /* Pie de pagina y sus elementos */
    .textoM{
        width:100%;
        font-size: 1rem;
        padding:2rem;
    }
    .icon{
        width:1.5rem;
    }
}
/* Escritorio */
@media (min-width: 1000px) {
    /* Barra de navegación y sus elementos */
    /* Portada y sus elementos */
    /* Seccion de links y sus elementos */
    /* Pie de pagina y sus elementos */
}


.textoPoliticas{
    background-color: var(--secondary);
    padding: 5rem 0 5rem 0;
}

.textoPoliticas p, .textoPoliticas h3, .textoPoliticas h4{
    color: var(--primary);
    padding:0 5rem 0 5rem;
    text-align: justify;
}
.textoPoliticas p {
    font-weight: 300;
}

/* header políticas */

.headerDiseno{
    background-color: var(--primary);
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    height:32vh;
    border-bottom: solid 2px #757575;
}

.titleDiseno{
    position: relative;
    top:20px;
    margin-left: 64px;
    font: 38px 'Raleway';
}
